html{
    height: 100;
  }
  
  body {
    overflow-x: hidden;
    min-height: 100%;
    scroll-behavior: smooth;
    font-family: 'Roboto', serif;
    
  }
  
  .button{
    border-radius: 10px;
  }
  .card-title{
    text-align: center;
    color: rgb(111, 255, 111);
    font-weight: 800;
  }
  
  .controls-top h2{
    color: rgb(5, 172, 5);
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: bolder;
  }
  
  .order h2{
    text-align: center;
  }
  
  .order{
    background-attachment: fixed;
    background-image: url("../images/shourav-sheikh-a66sGfOnnqQ-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-top: 4%;
    padding-bottom: 4%;
  }
  .order-overlay{
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 20px;
    padding-left: 6%;
  }
  .choice{
    display: none;
    padding-left: 2%;
    padding-right: 2%;
  }
  .deliver{
    display: none;
  }
  .delivery{
    display: none;
    padding-left: 10%;
    padding-right: 10%;
  }
  td,th{
    font-size: 20px;
    color: white;
  }
  .choice h2{
    color:orange;
    text-align: left;
  }
  #your-orders{
    color: white;
    font-size: 30px;
  }
  
  #addedprice{
    display: none;
  }
  #finallmessage{
    display: none;
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 28px;
  }
  #regards{
    text-align: center;
    color: aliceblue;
  }
  #information{
    padding-top: 5%;
    font-size: 22px;
    padding-right: 8%;
    padding-left: 5%;
    color: #ffa500;
  }
  
  .order-overlay{
    background-color: rgba(0, 0, 0,0.5);
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 16px;
    padding-left: 16px;
  }
  .order h2{
    text-align: center;
    font-size: 20px;
  }
  
  
  .flex-xs-column {
      flex-direction: column;
  }
  
  